{% extends 'base.html' %}
{% block content %}
  <h2 class="page-title">Edit a Museum</h2>  

<form action="/museums/{{museum.id}}" method='post'>
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{museum.name}}" required autofocus>
    </div>

    <div>
        <label for="address">Address</label>
        <input type="text" name="address" id="address" value="{{museum.address}}" required>
        <input type="submit" value="Edit Museum">
    </div>
    <button type="submit">Update</button>
</form>

{% endblock content %}